.form-fruit {
  background-color: rgb(237, 237, 237);
  padding: 24px 12px;
  min-width: 300px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10px;
}

.form-fruit > .fruit-search {
  width: 100%;
}

.form-fruit > .fruit-search > input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(218, 218, 218);
  padding: 10px;
  box-sizing: border-box;
}

.form-fruit > .fruit-search > input:focus {
  outline: none;
  box-shadow: 0 0px 5px 2px #e3e3e3;
}

.form-fruit > .fruit-check {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.form-fruit > .fruit-check > p {
  margin: 0px;
  font-size: 10px;
}

.table-fruits {
  background-color: white;
  padding: 12px;
  box-sizing: border-box;
}

.table-fruits table {
  width: 100%;
}

.table-fruits thead td {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

/* .table-fruits tbody .fruitgroup {
  width: 100%;
  margin-bottom: 33px;
} */

.table-fruits tbody .fruitcat {
  width: 100%;
  font-size: 24px;
}

.table-fruits tbody .fruit-row {
  font-size: 14px;
}

.table-fruits .w-stock {
  color: red;
  font-weight: normal;
  font-style: italic;
}
