.board {
  display: flex;
  flex-wrap: wrap;
  width: 156px;
  height: 156px;
  background-color: white;
  /* border: 1px solid black; */
}

.cuadrado {
  width: 50px;
  height: 50px;
  background-color: red;
  border: 1px solid white;
  color: whitesmoke;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
